.cards-container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	width: 1000px;
	height: 100vh;
}

.match-card-wrapper {
	position: relative;
	margin-top: 30px;
	background-color: transparent;
	width: 670px;
	height: 150px;
	
	left: 50%;
	transform: translateX(-50%);
}

.match-card-tabs-container {
	background-color: white;
	display: inline-block;
}

.card-tab {
	display: inline-block;
	padding: 10px 12px;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.match-card-container {
	position: relative;
	background-color: white;
	width: 100%;
	height: 115px;
	border: 1px solid black;
	display: flex;
	align-items: center;
}

.icon-rank-container {
	position: relative;

	height: 100%;
	width: 100px;
}

.icon {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	/*background: url("./veigar\ icon.png");*/
	background-color: black;
	background-size: cover;
}

.summoners-lp-container {
	position: relative;
	
	padding-left: 0px !important;
	margin-left: 10px;
	margin-right: 10px;
}

.summoners-container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width:53px;
	height:57px;
	margin-bottom: 10px;
	

}

.summoner {
	background-color: gray;
	width: 25px;
	height: 25px;
	margin-top: 5px;
	
}

.lp-container{
	background-color: #2ecc71;
	padding: 8px 10px;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}

.cs-gold-container{
	height: 80px;
}

.gold-container{
	background-color: rgb(241, 205, 0);
	color: white;
	padding: 6px 8px;
	font-weight: bold;
	margin-top: 5px;
	border-radius: 3px;
}

.items-container {
	
	height: 100%;
}

.kda-container{
	
	height: 80px;
}

.kda-count-container{
	
}

.items-icon-wrapper {
	height: 50%;
	width: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item-icon {
	background-color: gray;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

.players-container {
	position: relative;
	
	
	min-width: 130px;
	
	
	
}

.red-side{
	position: absolute;
	right: 0px;

	
	width: 50px;
	
}

.blue-side{
	
	
	width: 50px;
	
	
	
}
.user-container {
	position: relative;
	
	display: inline-block;
	height: 18px;
}

.user-icon {
	width: 15px;
	height: 15px;
	background-color: gray;
	display: inline-block;
}

.username {
	position: relative;
	left: 5px;
	font-size: 12px;
	display: inline-block;
}

.victory {
	background-color: #2ecc71;
	color: white;
	font-weight: bold;
}

.defeat {
	background-color: #e74c3c;
	color: white;
	font-weight: bold;
}

.card-data-container {
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}


.fa-coins{
	margin-right: 5px;
}